@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,400&display=swap");
.App {
  text-align: left;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
}

.profile {
  margin: 0 auto;
  width: 360px;
  border-radius: 10px;
  height: 100vh;
  background: #ffffff;
}
img {
  width: 80%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
.info-wrapper {
  width: 80%;
  margin: 0 auto;
}
.heading {
  width: 80%;
  margin: 15px auto;
  padding-top: 15px;
  color: #385872;
}
.info {
  color: #3f3f3f;
  padding: 5px;
  border-bottom: 1px solid #a8bfd1;
  font-weight: 400;
  font-style: italic;
}
.no-border {
  border-bottom: none;
}
@media only screen and (min-width: 768px) {
  .App {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #f6f6f6;
  }
}
